In [1]:
import sqlalchemy
import pandas as pd

In [2]:
db_conn_str = "postgresql://root:password@myr-ai-news-agg-psql-dev-01.czad5s0cb1bs.ap-southeast-1.rds.amazonaws.com/newsaggbackend?client_encoding=utf8"

In [3]:
engine = sqlalchemy.create_engine(db_conn_str)

In [4]:
conn = engine.connect()

In [5]:
engine.table_names()

['econtext_cache',
 'news_block_etl',
 'ceduler_content_classification',
 'content_classification_tasktable']

In [6]:
df = pd.read_sql_table('content_classification_tasktable', con= conn)

In [14]:
enigne2 = sqlalchemy.create_engine('sqlite:///./data/test.sqlite')

In [16]:
conn2 = enigne2.connect()

In [17]:
df.to_sql('content_classification_tasktable', con=conn2)

In [9]:
_df = df.iloc[:5]

In [12]:
print(_df.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>object_id</th>
      <th>task_status</th>
      <th>n_failed</th>
      <th>max_retries</th>
      <th>max_timeout</th>
      <th>priority_factor</th>
      <th>updated_at</th>
      <th>created_at</th>
      <th>last_submitted</th>
      <th>last_queried</th>
      <th>last_success</th>
      <th>last_failure</th>
      <th>endpoint</th>
      <th>params</th>
      <th>task_id</th>
      <th>state</th>
      <th>res_status</th>
      <th>res_data</th>
      <th>res_error</th>
      <th>f_no_total_clicks</th>
      <th>f_no_unique_clicks</th>
      <th>_uuid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>f1109c76bf023c4d0caec8ca668a4afbc6c73a247fafaf...</td>
      <td>active</td>
      <td>0</td>
      <td>5</td>
      <td>86400.0</td>
      <td>1.0</td>
      <td>1.562220e+09</td>
      <td>1.562220e+09</td>
      <td>1.562320e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mr_content_classification.econtext.query</td>
      <td>{"input_mode": "text", "entity_flag": true, "a...</td>
      <td>de2db41a-4b33-41ff-855d-3f04a98603d3</td>
      <td>PENDING</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>1</td>
      <td>0</td>
      <td>fa32c0ef-4c4f-40e7-b6fe-ae5df3075a5e</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5f3c4ed5ccee808f26385b920103489f5b01491349bdbc...</td>
      <td>active</td>
      <td>0</td>
      <td>5</td>
      <td>86400.0</td>
      <td>1.0</td>
      <td>1.562220e+09</td>
      <td>1.562220e+09</td>
      <td>1.562320e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mr_content_classification.econtext.query</td>
      <td>{"input_mode": "text", "entity_flag": true, "a...</td>
      <td>e689ae28-19eb-4826-85cc-48868b236223</td>
      <td>PENDING</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>1</td>
      <td>0</td>
      <td>0f4c5ad3-7f2a-44b3-b060-a07256f3a130</td>
    </tr>
    <tr>
      <th>2</th>
      <td>954db417456f418312becc18c6100d3b110505b0328cb0...</td>
      <td>active</td>
      <td>0</td>
      <td>5</td>
      <td>86400.0</td>
      <td>1.0</td>
      <td>1.562220e+09</td>
      <td>1.562220e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mr_content_classification.econtext.query</td>
      <td>{"input_mode": "text", "entity_flag": true, "a...</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>0</td>
      <td>9ee22d2f-7347-45fd-ab3d-d61b55bcb2e6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8dfa084cc522f1257d5663e0339fc68ec792da0fbc63c2...</td>
      <td>active</td>
      <td>0</td>
      <td>5</td>
      <td>86400.0</td>
      <td>1.0</td>
      <td>1.562220e+09</td>
      <td>1.562220e+09</td>
      <td>1.562320e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mr_content_classification.econtext.query</td>
      <td>{"input_mode": "text", "entity_flag": true, "a...</td>
      <td>4dc83544-8288-4f3f-8033-9e4503755a07</td>
      <td>PENDING</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>1</td>
      <td>1</td>
      <td>c1cdbd5e-325c-4b3f-a75e-88bce6f00a0e</td>
    </tr>
    <tr>
      <th>4</th>
      <td>a636934e533665105916c95cb96a71c7070b7119b95830...</td>
      <td>active</td>
      <td>0</td>
      <td>5</td>
      <td>86400.0</td>
      <td>1.0</td>
      <td>1.562220e+09</td>
      <td>1.562220e+09</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mr_content_classification.econtext.query</td>
      <td>{"input_mode": "text", "entity_flag": true, "a...</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>0</td>
      <td>940446c3-d743-4ecb-8e55-1e5965e3f238</td>
    </tr>
  </tbody>
</table>